*{
    margin: 0px;
    padding: 0px;
}
body{
    color:black;
    background-color: white;
    box-sizing: border-box;
    
}
.menu-target{
    text-decoration: none;
    color: black;
}
.top-target{
    color: black;
}
.header-nav{
    background-color:gray;
    padding: 20px;
}
.shop-name{
    color: black;
    text-decoration: none;
}
.container{
    margin: 0px !important;
}

#nav-list{
    text-align: center;

    border: 1px solid black;
}
.nav-item{
    border: 1px solid black;
}

.navbtn .fa-bars {
    color: white!important;
    
}
.navbtn.collapsed .fa-bars{
    color: black!important;
}
.navbtn{
    background: transparent;
    border: 1px solid white;
}
.navbtn.collapsed{
    border: 1px solid black;
}

.heading{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.menu-heading{
    text-align: center;
}
section{
    background-color:grey;
    /* margin: 10px !important; */
}
.menu-discription{
    padding: 5px 20px 20px 20px;
    text-align: justify;
}
@media (min-width:560px){
    .navbtn{
        display:none;
    }
}
@media (max-width:559px){
    .container-2{
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
}
@media (min-width:560px) and (max-width:991px){
    .container-2{
        margin-left:10px;
        margin-right:10px;
    }
    .section-1-2{
        display: flex;
    }
    .section-1{
        flex-grow:1; 
        margin: 5px;
    }
    .section-2{
        flex-grow:1;
        margin: 5px; 
    }
    .section-3{
        flex-grow:1;
        margin: 5px;
    }

}
@media (min-width:992px){
    .section-1-2{
        display: flex;
    }
    .section-1{
        flex-grow: 1;
        margin: 5px;
    }
    .section-2{
        flex-grow: 1;
        margin: 5px;
    }
    .container-2{
        display: flex;
        margin-left:10px;
        margin-right:10px;
    }
    .section-3{
        flex-grow: 1;
        margin: 5px;
    }
    
}